<% if current_user %>
    Hello, <%= current_user.email %>. You <%= user_signed_in? ? "are" : "are not" %> signed in.
<% else %>
    Howdy stranger.
<% end %>
<% if user_signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
<% else %>
    <%= button_to "Sign In", new_user_session_path %>
<% end %>

<p>Env: <%= Rails.env %></p>